@import url(//db.onlinewebfonts.com/c/cfa5d186573233bc80be624c35a4702b?family=Harlow+Solid+Italic);
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
/*https://www.figma.com/file/5Aiw736togWbYxtqHHL5VO/
PI-PROJECT-ZERO?type=design&node-id=0-1&t=MNHR5MNK0I5KIiIv-0*/

body{
    background-image: url(https://i.ibb.co/jy1M5pZ/FUNDO.png);
    font-family: 'Nunito Sans', sans-serif;
}

.todo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12vh;
}

/*LADO ESQUERDO*/
.LadoE h1{
    font-family: "Harlow Solid Italic";
    color: white;
    font-size: 10vh;
    text-align: center;
    margin-top: -2vh;
}

.LadoE img{
    width: 60vh;
}

/*LADO DIREITO*/

.LadoD {
    background: rgba(43, 24, 120, 0.3);
    background-blend-mode: overlay;
    border: 0.5px solid rgba(43, 24, 120, 0.3);
    backdrop-filter: blur(60px);
    border-radius: 10px;
    border-radius: 2vh;
    width: 0 auto;
    height: 0 auto;
    padding: 10vh;
    display: flex;
    flex-direction: column;
}

input {
    display: flex;
    flex-direction: column;
    margin: 3vh;
    background: transparent;
    color: white;
    border: 0;
    border-bottom: 2px solid white;
    width: 50vh;
    height: 3vh;
    font-size: 15px;
}

.formu ::placeholder{
    color: white;
    font-size: 15px;
}

/*SENHA*/
.sup {
    text-align: end;
}

/*BOTÃO*/
.bot button{
    background-color:blue;
    color: white;
    border: 0;
    width: 18vh;
    padding: 0.5vh;
    font-size: medium;
    height: 6vh;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: blue;
    transition:1.1s;
    font-size: medium;
}

.bot{
    display: flex;
    justify-content: center;
}

/*CADASTRO*/
.cad {
    text-align: center;
}

/*ACESS*/
.acess a{
    color: white;
}

/*FORMAS LOGIN*/

.formaL a {
    text-decoration: none;
}

.formaL img {
    width: 100px;
}

.sup{
    font-size: 13px;
    margin-bottom: 30px;
    margin-top: -20px;
    margin-right: 15px;
}

.formaL {
    display: flex;
    justify-content: center;
}

/*.eye img{
    position: absolute;
    cursor: pointer;
    width: 20px;
    top:155px;
    right: 106px;
    /*tela cheia
    155px;
    right:106px*/

    /*125px e 85px}*/
